/*! Place your custom styles here */

#header .stars {
    position: absolute;
    z-index:2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#header .stars:before, #header .stars:after {
    position: absolute;
    z-index: 2;
    content: "";
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    /*opacity: 0;*/
    background: url(../img/stars.svg) repeat;
    -webkit-animation: starmove-1 150s linear infinite;
    animation: starmove-1 150s linear infinite;
}



#header .stars:after {
    -webkit-animation: starmove-2 150s linear infinite;
    animation: starmove-2 150s linear infinite;
}

#header .img-icon{
  height: 70px;
  margin-bottom: 0px;
}

#header .feature-2 .feature__body {
  padding: 5px;
}

starmove-1{
  0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
  50%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  51%{opacity:0;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  52%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  53%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  100%{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
}

@keyframes starmove-1{
  0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
  50%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  51%{opacity:0;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  52%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  53%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  100%{opacity:1;-webkit-transform:translateY(0px);transform:translateY(0px)}
}
@-webkit-keyframes starmove-2{
  0%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  1%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  99%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}
}
@keyframes starmove-2{
  0%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  1%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  99%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}
}


#header .rotate {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-animation: cometmove 1s linear 2s infinite;
    animation: cometmove 10s linear 2s infinite;
}

#header .rotate .meteor {
    position: absolute;
    width: 183px;
    height: 1px;
    background: #fff;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

@-webkit-keyframes cometmove{
  0%{opacity:1;-webkit-transform:translate(0, 100px);transform:translate(0, 100px)}
  10%{opacity:1;-webkit-transform:translate(-2000px, 1100px);transform:translate(-2000px, 1100px)}
  11%{opacity:0;-webkit-transform:translate(-2000px, 1100px);transform:translate(-2000px, 1100px)}
  12%{opacity:0;-webkit-transform:translate(0, 100px);transform:translate(0, 100px)}
}
@keyframes cometmove{
  0%{opacity:1;-webkit-transform:translate(0, 100px);transform:translate(0, 100px)}
  10%{opacity:1;-webkit-transform:translate(-2000px, 1100px);transform:translate(-2000px, 1100px)}
  11%{opacity:0;-webkit-transform:translate(-2000px, 1100px);transform:translate(-2000px, 1100px)}
  12%{opacity:0;-webkit-transform:translate(0, 100px);transform:translate(0, 100px)}
}


.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}

.grayscale:hover  {
  -webkit-filter: grayscale(0%);filter: grayscale(0%);
}

.rounded
{
  border-radius: 5px;
}


#process-big .process__body
{
  float: left;
  padding-left: 20px;
}

.feature-8 p {
    min-height: 0px;
}

.div-center
{
  max-width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@-webkit-keyframes starmove-2{
  0%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  1%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  99%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}
}
@keyframes starmove-2{
  0%{opacity:0;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  1%{opacity:1;-webkit-transform:translateY(-1000px);transform:translateY(-1000px)}
  99%{opacity:1;-webkit-transform:translateY(1000px);transform:translateY(1000px)}
  100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
	40% {
    -webkit-transform:translateY(-30px);
    transform:translateY(-30px);
  }
	60% {
    -webkit-transform:translateY(-15px);
    transform:translateY(-15px);
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
	40% {
    -webkit-transform:translateY(-30px);
    transform:translateY(-30px);
  }
	60% {
    -webkit-transform:translateY(-15px);
    transform:translateY(-15px);
  }
}

.bounce:hover {
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

.animated-icon{
  width: 55%;
  margin-bottom: 0px;
}
